<div class="d-flex p-1">
        
    <%= link_to root_path(locale: :pl), class: 'm-1' do %>
       <span class="fi fi-pl"></span>
    <% end %>    
    <%= link_to root_path(locale: :en), class: 'm-1' do %>
       <span class="fi fi-gb"></span>
    <% end %>    
        

</div>
